@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');

body {
	background-color: #EDF1F5;
	font: 300 normal 1.0em/1 'Roboto', helvetica, arial, sans-serif;
}

.property {
	background-color: #fff;;
	width: 24em;
}

.img-fluid {
	max-width: 100%;
}

.details {
	list-style: none;
	padding-left: 0;
}
.details li {
	display: inline;
	text-transform: uppercase;
	font-weight: 700;
	color: #888;
	padding: 1em 0;
}
.details li::after {
	content: " 😄";
}
.details li:last-child::after {
	content: none;
}


.price {
	font-size: 2em;
}
.property h1 { 
	font-weight: 300;
	font-size: 1em;
}
